## Sets

Sets are also immutable like tuples

In [1]:
#empty set
set1=set()

print('Empty set :',set1)

set2={1,1,1,1,1,1,1,2,2,2,2,2,4,4,4,4,4,3,3,3,3,3}

print('Set2 :',set2)
print('Length of set2:',len(set2))

#create a set with set()
set3=set((1,1,1,2,2,3,4,5,6,6,))
print('Set3 :',set3)

#indexing
#we cannot use index()
#iterarte through all elements using for loop
print('Elements in set2 :')
for i in set2:
    print(i, end=' ')
    
print()    
print(1 in set3)

Empty set : set()
Set2 : {1, 2, 3, 4}
Length of set2: 4
Set3 : {1, 2, 3, 4, 5, 6}
Elements in set2 :
1 2 3 4
True

## Functions of set

In [2]:
set1.add('IBM')
# set1.push()
# set2.pop()

# use clear to empty the set
print('set3 :',set3)
set3.clear()
print('set3 :',set3)

set3 : {1, 2, 3, 4, 5, 6}
set3 : set()

## Dictionary

In [3]:
dict1={ 1:'Divya','blah2':'IBM',3:'CET'}

print('Dictionary :',dict1)
print('Length of dict1 :',len(dict1))

#indexing is done using keys
print('Find the value at index blah2 :', dict1['blah2'])

#if there is repetition of one key the value of the last key will be taken
dict2={ 1:'Divya','blah2':'IBM',3:'CET',3:'pickle'}
print('Repeated key value demo :',dict2[3])

#the repeated key is not counted while taking length
print('Length of dict2 :',len(dict2))

Dictionary : {1: 'Divya', 'blah2': 'IBM', 3: 'CET'}
Length of dict1 : 3
Find the value at index blah2 : IBM
Repeated key value demo : pickle
Length of dict2 : 3

## Dictionary functions

In [4]:
#get() function
print('get() demo :',dict1.get(1))

#to get all keys in the dict use keys()
print('keys() demo :',dict2.keys())

#to get all values in the dict use keys()
print('values() demo :',dict2.values())

#to get all items as tuples in the dict use keys()
print('items() demo :',dict2.items())

#check if a key is in the dictionary
if 'blah2' in dict2:
    print('true')

get() demo : Divya
keys() demo : dict_keys([1, 'blah2', 3])
values() demo : dict_values(['Divya', 'IBM', 'pickle'])
items() demo : dict_items([(1, 'Divya'), ('blah2', 'IBM'), (3, 'pickle')])
true

## Nested Dictionary

In [5]:
dict3={'Employee1':{'name':'Divya','ID':'3','Place':'TVM'},
       'Employee2':{'name':'blah','ID':'4','Place':'place2'},
       'Employee3':{'name':'blah3','ID':'5','Place':'place3'},}

print('Indexing in nested dictionary demo :',dict3['Employee1']['name'])

Indexing in nested dictionary demo : Divya

## Lambda function

In [6]:
# find the square of a number
square = lambda x: x**2
print(square(5))

25