In [1]:
a,b,c="20", 10, 'IBM'
print(a,b,c)

20 10 IBM

## Slicing of strings

In [10]:
str='IBM Batch2'
print( str[str.index(' ')+1:])

Batch2

## Print even numbers from 20 to 0

In [24]:
for i in range(20,-1,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2
0

# break

In [66]:
for i in range(0,20,2):
    if i==4:
        break
    print(i)

0
2

# continue

In [23]:
for i in range(0,20,2):
    if i==4:
        continue
    print(i)

0
2
6
8
10
12
14
16
18

### Write a program to make a calculator using python

In [27]:
print("Enter two numbers")
a=int(input())
b=int(input())
print('Enter operation +, -, *, /')
o=input()
r=0
if (o=='+'):
    r=a+b
elif (o=='-'):
    r=a-b
elif (o=='*'):
    r=a*b
elif (o=='/'):
    if b!=0:
        r=a//b
    else:
        print('Division by 0 is not possible')
else:
    print('Invalid operator')

print('Result=' , r)

Enter two numbers

 6
 0

Enter operation +, -, *, /

 /

Division by 0 is not possible
Result= 0

# List

In [43]:
li=['p',1,-9,8.5,'Hello']
print(li)
print('Type :',type(li))
print('Length :',len(li))

#print an element using index
print('Element at index 2 :', li[2])

#create empty list
list2=list()
print('Empty list :',list2)

#negative indexing
print('Element at -1 :',li[-1])
print('Element at -2 :',li[-2])

['p', 1, -9, 8.5, 'Hello']
Type : <class 'list'>
Length : 5
Element at index 2 : -9
Empty list : []
Element at -1 : Hello
Element at -2 : 8.5

## in keyword

In [44]:
# check whether an element is there in a list
list1=['My', 'name', 'is', 'Divya' ,'and', 'I', 'work', 'at', 'IBM']
if 'and' in list1:
    print('yes')
else:
    print('no')

yes

## insert()

In [45]:
li=['p',1,-9,8.5,'Hello']
print('List :', li)
li.insert(2, 'Blah')
print('New List :', li)

List : ['p', 1, -9, 8.5, 'Hello']
New List : ['p', 1, 'Blah', -9, 8.5, 'Hello']

# append() and extend()

In [49]:
li.append('end')
print('append function demo :',li)

li2=['apple','orange', 'cherry']

li.extend(li2)
print('extend() demo, li  :',li)
print('li2 :',li2)

append function demo : ['p', 1, 'Blah', -9, 8.5, 'Hello', 'apple', 'orange', 'cherry', 'end']
extend() demo, li  : ['p', 1, 'Blah', -9, 8.5, 'Hello', 'apple', 'orange', 'cherry', 'end', 'apple', 'orange', 'cherry']
li2 : ['apple', 'orange', 'cherry']

## remove()

In [50]:
print('Current li :', li)
li.remove('end')
print('remove() demo :',li)

Current li : ['p', 1, 'Blah', -9, 8.5, 'Hello', 'apple', 'orange', 'cherry', 'end', 'apple', 'orange', 'cherry']
remove() demo : ['p', 1, 'Blah', -9, 8.5, 'Hello', 'apple', 'orange', 'cherry', 'apple', 'orange', 'cherry']

In [54]:
li=['p',1,-9,8.5,'Hello']
new_list=[]
for i in li:
    if i=='Hello':
        new_list.append(i)
        
print(new_list)

['Hello']

## List comprehension

In [55]:
new_list=[i for i in range(5)]
print(new_list)

[0, 1, 2, 3, 4]

## Tuples

In [65]:
#empty tuple
tuple1=tuple()
tuple2=('g',3,-4,6.2,'bonk','IBM','Divya',-4,6.2,'bonk',-4,6.2,'bonk',-4,6.2,'bonk')
print('Empty tuple :',tuple1)
print('tuple2 :', tuple2)
print('Type :', type(tuple1),type(tuple2))

#convert tuple ti list
print( "Tuple to list demo :" ,list(tuple2))

#delete the tuple using del keyword
del tuple1

#count keyword gives the number of times an element occurs
print('number of time 6.2 is present :',tuple2.count(6.2))

#index gives the index of an element
print('Index of 3 :',tuple2.index(3))

Empty tuple : ()
tuple2 : ('g', 3, -4, 6.2, 'bonk', 'IBM', 'Divya', -4, 6.2, 'bonk', -4, 6.2, 'bonk', -4, 6.2, 'bonk')
Type : <class 'tuple'> <class 'tuple'>
Tuple to list demo : ['g', 3, -4, 6.2, 'bonk', 'IBM', 'Divya', -4, 6.2, 'bonk', -4, 6.2, 'bonk', -4, 6.2, 'bonk']
number of time 6.2 is present : 4
Index of 3 : 1